<h2 id="title">Regular Old Links</h2>

<a href="http://example.com/success" id="regularLink"><div class="internal-content"></div></a>
<a href="./test-successful" id="relativeLink"><div class="internal-content"></div></a>
<a href="mailto:test@example.com" id="linkWithCustomProtocol"><div class="internal-content"></div></a>
<a id="linkWithNoHref"><div class="internal-content"></div></a>
