<header class="row">
    <div class="col-md-6">
        <h2>Link-To Helper</h2>
    </div>
</header>

<div class="row">
    {{#link-to 'success' class="col-md-12 link" id="genericLinkTo"}}Generic Link-To{{/link-to}}
</div>

<div class="row">
  {{#link-to 'success' class="col-md-12 link" id="genericLinkTo"}}
      <i class="glyphicon glyphicon-link"></i>
      <div class="internal-content">Generic Link-To with internal elements</div>
  {{/link-to}}
</div>

<div class="row">
  {{#link-to 'success' tagName="div" class="col-md-12 link" id="genericLinkTo"}}Link-To (div){{/link-to}}
</div>

<div class="row">
  {{#link-to 'success' tagName="div" class="col-md-12 link" id="genericLinkTo"}}
      <i class="glyphicon glyphicon-link"></i>
      <div class="internal-content">Link-To (div) with internal elements</div>
  {{/link-to}}
</div>
