<h2 id="title">Link-To Helper</h2>

{{#link-to 'test-successful' id="genericLinkTo"}}<div class="internal-content"></div>{{/link-to}}
{{#link-to 'test-successful' eventName="swipeRight" id="customGesture"}}{{/link-to}}
