<header class="row">
  <div class="logo col-md-4">
      <h1>Ember MobileTouch</h1>
  </div>
  <div class="title col-md-offset-4 col-md-4">
      <h2>Tests</h2>
  </div>
</header>

<section class="row">
  <div class="col-md-4">
    <ul>
      <li>{{#link-to "inputs"}}Input tests{{/link-to}}</li>
    </ul>
  </div>
</section>

<section class="row">
  {{outlet}}
</section>
