<header class="row">
  <div class="logo col-md-4">
      <h1>Ember MobileTouch</h1>
  </div>
  <div class="title col-md-offset-4 col-md-4">
      <h2>Tests</h2>
      <ul>
        <li>{{#link-to "inputs"}}Input tests{{/link-to}}</li>
        <li>{{#link-to "checkboxes"}}Checkbox tests{{/link-to}}</li>
        <li>{{#link-to "forms"}}Form tests{{/link-to}}</li>
      </ul>
  </div>
</header>

<section class="row">
    <div class="col-xs-12">
      <h3>Test interface</h3>
      {{outlet}}
    </div>
</section>
