<div class='col-xs-12'>
  <h3>Form with submit action</h3>
  <form id='form-with-submit-action' {{action "submitForm" on="submit"}}>
    <button type="submit" id='submit-button-1'>Submit</button>
    <p>Submits: {{submits}}</p>
    {{forms/complete-it}}
  </form>
</div>
