<h3>Radio buttons tests</h3>
<div id='radio-group'>
  <div>
    <input type='radio' id='am-radio' name='technology' value='amplitude modulation'> AM
  </div>
  <div>
    <input type='radio' id='fm-radio' name='technology' value='frequency modulation'> FM
  </div>
</div>
