<section class="container-fluid">

  <h2>Form Inputs</h2>

  <div class="row">
    <h3>Fast Focus On Text Fields And Areas</h3>
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET input-example-1 }}
          {{input pattern="[0-9]*" type="text" value=text}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-4">
          {{text}}
      </div>
      <div class="col-sm-4">
        {{code-snippet name="input-example-1.hbs"}}
      </div>
  </div>

</section>