<h2 id="title">Link-To Helper</h2>

{{#link-to 'actions' id="genericLinkTo"}}<div class="internal-content"></div>{{/link-to}}
{{#link-to 'actions' eventName="swipeRight" id="customGesture"}}{{/link-to}}
