@require '../helpers/colors.styl'
@require '../helpers/functions.styl'
@require '../helpers/hardware-acceleration.styl'

slideToggle(ht, un, c)
  overlappingElement
  background #f0f0f0
  border 2px solid #e0e0e0
  cursor pointer
  width unit(1.8 * ht, un)
  height unit(ht, un)
  //margin: 0 unit(ht / 2, un)
  display inline-block
  border-radius unit(ht / 2, un)
  /.slideToggleButton
    enableAcceleration
    preserveAcceleration
    background #f8f8f8
    border-radius unit(ht / 2, un)
    height unit(ht, un)
    position relative
    left 0
    top -2px
    width unit(ht, un)
    box-shadow 1px 0 2px 0 #bbb
    acceleratedTransition .1s ease-out
  &.isOn
    bg-gradient-dark darken(c, 20%) c
    border-color c
  &.isOn .slideToggleButton
    acceleratedPositionAnimation unit(.75 * ht, un) 0
    box-shadow -1px 0 2px 0 rgb(63, 121, 82)

// green slide-toggle
.slideToggle-green
  slideToggle(40, 'px', t2d_green)
