<section class="container-fluid">

  <h2>Action Area Component</h2>

  <h3>Basic</h3>
  <p>
    The `action-area` component helps you build interactive regions quickly.
  </p>
  <p>
      <strong>{{currentUserAction}}</strong>
  </p>
  <div class="row">
      <div class="col-sm-4">
        {{!- BEGIN-SNIPPET action-area-example-1 }}
        {{#action-area
          class="actionable-example"
          on-pan-right="showRight"
          on-pan-left="showLeft"
          on-pan-end="endPan"
          on-tap="showTap"
          on-press="showPress"
          on-press-up="endPress"
        }}
          <h3>Interact with me!</h3>
          <p>Pan, tap, or press me to see how I behave.</p>
        {{/action-area}}
        {{!- END-SNIPPET }}
      </div>
      <div class="col-sm-8">
        {{code-snippet name="action-area-example-1.hbs"}}
      </div>
  </div>

</section>